@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Recursive', sans-serif;
    font-size: 20px;
    
}

body{
    height:calc(100vh - 10px);
    background-image: linear-gradient(to bottom, #d81159,#218380);
}

.text{
    margin-left: calc(28% - 100px);
    margin-top: 13%;
    color:white;
    position:absolute;
}
input:focus{
    outline:none;
}
span{
    position:absolute;
    left: 50%;
}