@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p{
    font-weight: bolder;
}
h1{
    color: white;
    opacity: 0.5;
}
body{
    height:100vh;
    width: 100vw;
    font-family: 'Recursive', sans-serif;
    font-size: 20px;
    background-color: #1b1717;
}
.text{
    display: grid;
    width: 85vw;
    height: 60vh;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    margin: 5% 8%;  
 }
#sentence:focus{
    outline: none;
}
.input{
    padding : 7% 16%;
    
    background-color: #f1c404;
    color: #eeebdd;
}
.output{
    overflow: scroll;
    padding : 7% 16%;  
}
.result{
    width: 100%;
    height:60%;
    border-radius: 10px;
    border: 1px solid red;
    overflow: scroll;
}
.output>p{
    margin: 30px;
    text-align: left;
}
.input>p{
    text-align: left;
    margin : 30px;
    
}
.btn{
    color: white;
    background-color: #1b1717;
    padding: .4em;
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-weight: 600;
}
/* Index page */
.buttons{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
}
.buttons button{
    height: 100%;
}
.buttons button a{
    flex:1;
    text-decoration: none;
    color:white;
    text-decoration: none;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Berkshire Swash', cursive;
    word-spacing: 3px;
    letter-spacing: 4px;
}
.btn1{
    background-color: #2ec771;
}
.btn2{
    background-color: #f1c404;
}
