@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:wght@300;400;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}
h1 {
  color: white;
}
:root {
  --primary-color: #1b1717;
  --secondary-color: #9b59bf;
}
body {
  font-family: "Arvo", serif;
  font-family: "Lato", sans-serif;
  background-color: var(--primary-color);
  height: 100vh;
}
.main-header.string-header {
  background-color: white;
}
.text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60%;
  margin: 100px 100px;
}
.input {
  background-color: var(--secondary-color);
  padding: 20px;
}
.input .text-area {
  margin: 10px auto;
  width: 95%;
  height: 85%;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  padding: 0 20px;
  overflow-y: scroll;
}

.output p {
  font-size: 18px;
  font-weight: 700;
  margin: 5px 0;
  overflow-y: scroll;
}

.output span {
  font-weight: 400;
  font-size: 16px;
}
@media screen and (max-width: 769px) {
  .text {
    grid-template-columns: 1fr;
    height: 90%;
    margin: 40px 1px;
  }
  .input {
    margin: 0;
    padding: 15px;
  }
}
