@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
.page-title {
  font-family: "Arvo", serif;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  overflow-y: hidden;
}
.main-header.header-title {
  background-color: #fff;
}

.stop-watch-body {
  background-color: #2ec771;
}
.watch {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 100px auto;
}

.stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  border: 1px solid #000;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.control {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.btn {
  cursor: pointer;
  background-color: #f1c404;
  border-radius: 10px;
  padding: 0.5em 1.5em;
}
