@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
p{
    font-weight: bolder;
}
h1{
    color: white;
    opacity: 0.5;
}
body{
    height:100vh;
    width: 100vw;
    font-family: 'Recursive', sans-serif;
    font-size: 20px;
    background-color: #1b1717;
}
#sentence:focus{
    outline: none;
}
.text{
   display: grid;
   width: 85vw;
   height: 60vh;
   grid-template-columns: 1fr 1fr;
   background-color: white;
   margin: 5% 8%;  
}
.input{
    padding : 5% 21%;
    background-color: #e74c3c;
    color: #eeebdd;
    position: relative;
}
.input input{
    height: 30px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10%;
    
}
.output{
    padding : 7% 13% 0 13%;    
}
.output>p{
    margin: 30px;
    position: relative;
    
}
.output input{
    position: absolute;
    right: 90px;
}
.input>p{
    text-align: center;
    margin-top: 35px;
}
.input button{
    position: absolute;
    bottom: 5%;
    right: 17%;
}
button{
    background-color: #fb9300;
    padding: 0.5em;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.output button{
    color: #fb9300;
    background-color: black;
}




